# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#! Others
*.orig		#! Files before code formatting

#! Directories
bin/
src/test
src/lib
res/scripts
res/sphinxdict

